@import '../../styles/scss/mixins.scss';
@import '../../styles/scss/variables.scss';

.header{
    border-bottom: 1px solid #E5E5E5;
    padding: 22px 0 16px 0;
    margin-bottom: 15px;
}
.header-slice-1{
    @include flex( space-between , center);
    margin-bottom: 20px;
}
.search-input-icon{
    display: none;
}
.header-slice-1-icons{
    @include flex( center , center);
    gap: 18px;
}
.header-slice-2{
    @include flex( space-between , flex-start);
    gap: 15px;
}
.select-wrapper{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
}

@media screen and (min-width: 993px) and (max-width: 1200px){
    .header-container{
        width: 993px; // te 1200px
    }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  
}
@media screen and (max-width: 768px) {
    .header-container{
        padding: 22px 20px 16px 40px;
    }
    .select-wrapper{
        display: none;
    }
    .search-input-wrapper{
        display: none;
    }
    .search-input-icon{
        display: block;
    }
    .heart-wrapper{
        display: none;
    }
    .shopping-wrapper{
        display: none;
    }
    .menu-button-wrapper{
        display: block;
        position: relative;
        width: 30px ;
        height: 20px ;
        cursor: pointer;
        z-index: 200; 
    }
    .menu-button-wrapper span{
        position: absolute;
        background-color: black;
        left: 0;
        top: 9px ;
        width: 100% ;
        height: 2px ;
        transition: all 0.3s ease 0s;
    }
    .menu-button-wrapper.menu-button-wrapper-active span{
        transform: scale(0);   
    }
    .menu-button-wrapper::before ,
    .menu-button-wrapper::after{
        content: '';
        display: block;
        position: absolute;
        background-color: black ;
        width: 100% ;
        height: 2px ;
        left: 0 ;
        transition: all 0.3s ease 0s;
    }
    .menu-button-wrapper:before{
        top: 0px;
    }
    .menu-button-wrapper::after{
        bottom: 0px;
    }
    .menu-button-wrapper.menu-button-wrapper-active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .menu-button-wrapper.menu-button-wrapper-active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    
}