@import "../../styles/scss/variables.scss";
@import "../../styles/scss/mixins.scss";
.exclusive-product {
  position: relative;
  padding: 96px 0;
  height: auto;
}
.exclusive-product-info {
  padding-right: 62px;
}
.exclusive-product-above-title {
  @include font-style(20px, 400, $primary-color2, "EudoxusSansLight");
  white-space: normal;
  margin-bottom: 24px;
  line-height: 1.1;
}
.exclusive-product-title {
  @include font-style(32px, 500, $primary-color2, "EudoxusSansRegular");
  line-height: 1.1;
  white-space: normal;
}
.exclusive-product-image-wrapper {
  width: 100%;
  max-height: 450px;
  position: relative;
}
.exclusive-product-image{
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1201px) and (max-width: 1400px){

}
@media screen and (min-width: 993px) and (max-width: 1200px) {

}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .exclusive-product {
    padding: 0;
    margin: 60px 0 96px 0;
  }
  .exclusive-product-info {
    padding: 16px;
    background: #F7F7F7;
  }
  .exclusive-product-title{
    font-size: 18px;
  }
  .exclusive-product-image-wrapper{
    order: -1;
  }
  .exclusive-product-image{
    height: 340px;
    object-fit: cover;
    object-position: center;
  }
}
@media screen and (max-width: 768px) {
  .exclusive-product {
    padding: 0;
    margin: 60px 0 96px 0;
  }
  .exclusive-product-info {
    padding: 16px;
    background: #F7F7F7;
  }
  .exclusive-product-above-title{
    font-size: 16px;
  }
  .exclusive-product-image-wrapper{
    order: -1;
  }
  .exclusive-product-image{
    height: 340px;
    object-fit: cover;
    object-position: center;
  }
}
