@import '../../styles/scss/variables.scss';
.search-input-ui {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  & .search-input-icon {
    position: absolute;
    top: 5px;
    left: 3px;
  }
  .searchInput {
    border: none;
    border-bottom: 1px solid $primary-color2;
    width: 480px;
    padding: 6px 44px;
  }
  .searchInput:hover,
  .searchInput:focus,
  .searchInput:active {
    border: none;
    outline: none;
    border-bottom: 1px solid $primary-color2;
  }
  .searchInput::placeholder {
    color: $secondary-color1;
  }
}


@media screen and (min-width: 993px) and (max-width: 1200px){
  .search-input-ui {
    .searchInput {
      width: 300px;
    }
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .search-input-ui {
    .searchInput {
      width: 280px;
    }
  }

}
@media screen and (max-width: 768px) {

}