@import "../../styles/scss/variables.scss";
@import "../../styles/scss/mixins.scss";

.products-section{
    position: relative;
}
.products-header{
    padding: 44px 0;
    width: 100%;
    @include font-style(32px, 400, $primary-color2, "EudoxusSansRegular");
}
.products-cards{
    // display: grid;
    // grid-template-columns: repeat(4 , auto);
    // gap: 24px;
    // justify-content: start;
    margin-bottom: 44px;
}
@media screen and (min-width: 1201px) and (max-width: 1500px){

}
@media screen and (min-width: 993px) and (max-width: 1200px){

}
@media screen and (min-width: 769px) and (max-width: 992px) {
  
}
@media screen and (max-width: 768px) {

}