@import "../../styles/scss/variables.scss";
@import "../../styles/scss/mixins.scss";
.card{
    position: relative;
    cursor: pointer;
    width: auto;
    height: auto;
    margin: 0 5px;
}
.card:hover{
    .card-img{
        transform: scale(1.2);
    }
    .card-price-slice2{
        color: $primary-color2;
    }
}
.card-img-wrapper{
    max-height: 340px;
    position: relative;
    background-color: gray;
    margin-bottom: 16px;
    overflow: hidden;
    cursor: pointer;
    .card-img{
        width: 100%;
        height: auto;
        transition: 0.3s ease 0s;
        z-index: 4;
        object-fit: contain;
    }
    .card-img:hover{
        transform: scale(1.2);
    }
}
.card-folder-plus-wrapper{
    position: absolute;
    right: 16px;
    top: 16px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.342);
    @include flex(center , center);
    cursor: pointer;
    z-index: 5;
}
.card-folder-plus-wrapper:hover{
    background-color: rgba(255, 255, 255, 0.545);
}
.card-tags{
    position: relative;
    @include flex(flex-start , center);
    gap: 4px;
    margin-bottom: 16px;
    flex-wrap: wrap;
    cursor: default;
    .card-tag{
        background-color:$primary-color5;
        padding: 4px 16px;
    @include font-style(14px, 500, $primary-color2, "EudoxusSansRegular");

    }
}
.card-title{
    width: 80%;
    margin-bottom: 8px;
    white-space: normal;
    @include font-style(16px, 400, $primary-color2, "EudoxusSansRegular");
}
.card-price{
    @include font-style(14px, 300, $primary-color2, "EudoxusSansRegular");
    @include flex(space-between , center);
}
.card-price-slice2{
    color: transparent;
}

@media screen and (min-width: 1201px) and (max-width: 1500px){

}
@media screen and (min-width: 993px) and (max-width: 1200px){

}
@media screen and (min-width: 769px) and (max-width: 992px) {
    .card{
        // max-width: 250px;
    }
    .card-img-wrapper{
        // width: 100%;
        // max-height: 250px;
    }
}
@media screen and (max-width: 768px) {
    .card{
        // max-width: 169px;
    }
    .card-img-wrapper{
        // width: 100%;
        // max-height: 169px;
        
    }
    .card-title{
       font-size: 14px;
    }
}
