@import "../../styles/scss/variables.scss";
@import "../../styles/scss/mixins.scss";
.mail-form{
    width: 100%;
}
.mail-form-title{
    @include font-style(32px, 400, $primary-color2 ,"EudoxusSansLight");
    margin-bottom: 3px;
}
.mail-form-under-title{
    @include font-style(14px, 400, $primary-color2 ,"EudoxusSansLight");
    margin-bottom: 24px;
}
.mail-form-input-title{
    @include font-style(14px, 400, $primary-color2 ,"EudoxusSansRegular");
    margin-bottom: 8px;
}


.input-mail-wrapper{
    position: relative;
    margin-bottom: 24px;
}
.input-mail{
    width: 100%;
    padding: 10px 12px;
}
.input-mail-line-icon-wrapper{
    position: absolute;
    right:11px;
    top: 11px;
}