@import '../../styles/scss/mixins.scss';
@import '../../styles/scss/variables.scss';
// default
.button-{
    border: none;
    background-color: $natural-color2;
    @include flex(center , center);
}


// transparent
.button-transparent{
    @include font-style(16px, 400, $primary-color2 , "EudoxusSansRegular");
    @include flex(center , center);
    border: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 5px 0;
}
.button-transparent:hover{
    border-bottom: 1px solid black;
}
.button-transparent-active{
    border-bottom: 1px solid black;
}

// transparent-white
.button-transparent-white{
    @include font-style(16px, 400, $natural-color2 , "EudoxusSansRegular");
    @include flex(center , center);
    border: none;
    background-color: transparent;
    border: 1px solid $natural-color2;
    padding: 16px 10px;
}
.button-transparent-white:hover{
    background-color: rgba(255, 255, 255, 0.145);
}
.button-transparent-white-active{
    // border-bottom: 1px solid white;
}

// dark
.button-dark{
    @include font-style(16px, 400, $natural-color2, "EudoxusSansRegular");
    @include flex(center , center);
    border: none;
    background-color: $primary-color2;
    border: 1px solid $primary-color2;
    padding: 16px 10px;

}
.button-dark:hover{
    background-color: #2e2c2c;
}
.button-dark-active{
    // border-bottom: 1px solid white;
}

// transparent-black
.button-transparent-black{
    @include font-style(16px, 400, $primary-color2 , "EudoxusSansRegular");
    @include flex(center , center);
    border: none;
    background-color: transparent;
    border: 1px solid  $primary-color2;
    padding: 10px 20px;
}
.button-transparent-black:hover{
    background-color: rgba(230, 224, 224, 0.488);
}
.button-transparent-black-active{
    // border-bottom: 1px solid white;
}

// long-dark
.button-long-dark{
    @include font-style(16px, 400, white , "EudoxusSansRegular");
    @include flex(center , center);
    border: none;
    background-color: $primary-color2;
    border: 1px solid  $primary-color2;
    width: 100%;
    padding: 10px 0;
}
.button-long-dark:hover{
    background-color: #2e2c2c;
}
.button-long-dark-active{
    // border-bottom: 1px solid white;
}


// transparent-bold 
.button-transparent-bold {
    @include font-style(20px, 400, $primary-color2 , "EudoxusSansMedium");
    @include flex(center , center);
    border: none;
    background-color: transparent;
    border: 1px solid  transparent;
    padding: 10px 0;
}
.button-transparent-bold:hover{
    border-bottom: 1px solid #2e2c2c;
}
.button-transparent-bold-active{
    border-bottom: 1px solid #2e2c2c;
}