.prev {
  position: absolute;
  top: 40%;
  left: 8px;
  z-index: 200;
  width: 50px;
  height: 50px;
  background-color: #191919;
  border-radius: 100%;
  cursor: pointer;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.next {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  top: 40%;
  right: 35px;
  background-color: #191919;
  z-index: 200;
  cursor: pointer;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-wrapper {
  width: 100%;
  max-height: 800px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.carousel {
  position: relative;
  min-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}
// @media screen and (min-width: 993px) and (max-width: 1200px){
//   .carousel{
//     max-width: 993px;
//   }
// }
// @media screen and (min-width: 769px) and (max-width: 992px) {
//   .carousel{
//     max-width: 769px;
//   }
// }
// @media screen and (max-width: 768px) {
//   .carousel{
//     max-width: 768px;
//   }
// }
