@import '../../styles/scss/mixins.scss';
@import '../../styles/scss/variables.scss';
.nav-menu-container{
    // width: 100%;
    height: auto;
}
.nav-menu{
    @include flex(flex-start , flex-start);
    gap: 18px;
    flex-wrap: wrap;
    & li{
   
    }
}
.nav-menu-mobile{
    display: none;
}
.content-one{
    display: none;
}
.content-one-a{
    @include font-style(16px, 400, $primary-color2 , "EudoxusSansRegular");
}
.stylique-logo-wrapper{
    display: none;
}

  @media screen and (max-width: 768px) {
    .nav-menu-container{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 80px 0px;
        transition: all 0.3s ease 0s;
        overflow: auto;
      }
      .nav-menu-container.menu-active{
        top: 0;
      }
      .nav-menu{
          display: none;
      }

      .nav-menu-mobile-container{
        @include flex(space-around , flex-start);
        flex-direction: column;
        position: relative;
        width: 100%;
        padding: 0 20px 60px 20px;
     }
     .stylique-logo-wrapper{
        position: absolute;
        top: -60px;
        left: 20px;
        display: flex;
     }
     .nav-menu-mobile{
        @include flex(flex-start , flex-start);
         flex-direction: column;
         gap: 10px;
         position: relative;
         margin-bottom: 50px;
         width: 100%;
     }
     .nav-menu-mobile-li{
        width: 100%;
        cursor: pointer;
         @include flex(space-between , center);
     }
     .nav-menu-mobile-footer{
         border-top: 1px solid $primary-color4;
         width: 100%;
         position: relative;
         padding-top: 48px;
     }
     .content-one{
         display: flex;
        @include font-style(16px, 400, $primary-color2 , "EudoxusSansRegular");
        & ul{
            @include flex(flex-start , flex-start);
            flex-direction: column;
            gap: 20px;
        }
        & ul li  {
            display: flex;
            flex-direction: column;
        }
        & ul li span a{
            @include font-style(16px, 400, $primary-color2 , "EudoxusSansLight");
        }
     }
}