@import "../../styles/scss/variables.scss";
@import "../../styles/scss/mixins.scss";
.mail-section{
    margin: 96px 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.mail-section-img-wrapper{
    background-image: url('/Rectangle4.png');
    width: 100%;
    height: 361px;
    position: relative;
    padding: 48px;
    @include flex(flex-end , flex-start);
    flex-direction: column;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.mail-section-img-wrapper::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.407);
    z-index: 4;
  }
.mail-section-under-title{
    @include font-style(14px, 700, white ,"EudoxusSansLight");
    margin-bottom: 16px;
    z-index: 5;
}
.mail-section-title{
    @include font-style(32px, 500, white ,"EudoxusSansLight");
    z-index: 5;
}
.mail-form{
    width: auto;
    margin-left: 15px;
}
.mail-form-title{
    @include font-style(32px, 400, $primary-color2 ,"EudoxusSansLight");
    margin-bottom: 3px;
}
.mail-form-under-title{
    @include font-style(14px, 400, $primary-color2 ,"EudoxusSansLight");
    margin-bottom:  24px;
}
.mail-form-input-title{
    @include font-style(14px, 400, $primary-color2 ,"EudoxusSansLight");
    margin-bottom:  8px;
}
.input-mail-wrapper{
    width: 100%;
    position: relative;
    margin-bottom: 24px;
}
.input-mail{
    height: 40px;
    width: 100%;
    border: 1px solid $primary-color4;
}
.input-mail-line-icon-wrapper{
    position: absolute;
    top: 10px;
    right: 10px;
}
@media screen and (min-width:1201px) and (max-width: 1400px){

}
@media screen and (min-width: 993px) and (max-width: 1200px){

}
@media screen and (min-width: 769px) and (max-width: 992px) {
    .mail-form{
        margin-left: 0px;
    }
}
@media screen and (max-width: 768px) {
    .mail-form{
        margin-left: 0px;
    }
}