@import "../../styles/scss/variables.scss";
@import "../../styles/scss/mixins.scss";
.companies{
    width: 100%;
    padding-top: 50px;
    margin-bottom: 96px;
    @include flex(center , center) ;
    flex-direction: column;
    overflow: hidden;
}
.companies-header{
    @include font-style(32px, 500, $primary-color2, "EudoxusSansRegular");
    margin-bottom: 44px;
    @include flex(center , center)
}
.companies-list{
    @include flex(flex-start , center) ;
    gap: 35px;
    overflow: hidden;
    overflow-x: scroll ;
    overflow-block: scroll;
    width: 100%;
    padding: 20px;
}
.companies-list::-webkit-scrollbar {
    width: 1px;
    -webkit-appearance:none;
}
.companies-list::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.companie{
    position: relative;
    min-width: 200px;
    min-height: 200px;
    background-color: $primary-color5;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.companie:hover{
    background-color: #fbfafa;
    transition-duration: 0.3s;
}
@media screen and (min-width: 993px) and (max-width: 1200px){

}
@media screen and (min-width: 769px) and (max-width: 992px) {

}
@media screen and (max-width: 768px) {

}