@import "../../styles/scss/variables.scss";
@import "../../styles/scss/mixins.scss";

.companies{
    padding-top: 50px;
    margin-bottom: 96px;
    @include flex(center , center) ;
    flex-direction: column;
    overflow-x: scroll;
    width: 100%;
}
.companies-header{
    @include font-style(32px, 500, $primary-color2, "EudoxusSansRegular");
    margin-bottom: 44px;
    @include flex(center , center)
}
.companies-list{
    @include flex(flex-start , flex-start) ;
    gap: 35px;
    overflow-x: scroll;
    width: 100%;
}
.companie{
    min-width: 200px;
    min-height: 200px;
    background-color: $primary-color5;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.companie:hover{
    background-color: #fbfafa;
    transition-duration: 0.3s;
}
@media screen and (min-width: 993px) and (max-width: 1200px){
    .companies-container{
        margin-bottom: 60px;
    }
    .companies-header{
        margin-bottom: 15px;
    }
    .companies-list{
        max-width: 1200px;
    }
    .companie{
        width: 130px;
        height: 130px;
    }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
    .companies-list{
        max-width: 990px;
    }
}
@media screen and (max-width: 768px) {
    .companies-list{
        max-width: 760px;
    }
    .companie{
        width: 100px;
        height: 100px;
    }
}