@import "../../styles/scss/variables.scss";
@import "../../styles/scss/mixins.scss";

.above-header-container {
  width: 100%;
  background-color: $primary-color5;
  @include flex(center, center);
  padding: 6px 6px;
  .above-header {
    @include font-style(12px, 500, $primary-color3, "EudoxusSansLight");
    & span {
      font-weight: 700;
    }
    & .above-header-info {
      font-family: "EudoxusSansRegular";
    }
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
}
@media screen and (min-width: 769px) and (max-width: 992px) {

}
@media screen and (max-width: 768px) {
  .above-header-container {
    display: none;
  }
}