// colors

// Primary
$primary-color1: #E5324B;
$primary-color2: #191919 ;
$primary-color3: #464646;
$primary-color4: #E3E3E3;
$primary-color5: #F7F7F7;
$primary-color6: #FFFFFF;

// Secondary
$secondary-color1: #D5D9DA;
$secondary-color2: #F4F4F1;
$secondary-color3: #FCF0E1;
$secondary-color4: #FAFAFA;
$secondary-color5: #999999;
$secondary-color6: #3F31DF;

// Natural
$natural-color1:#000000;
$natural-color2: #FFFFFF;


// :export {
//     stylique-red: $stylique-red
// }