.home-page-container{
  padding: 0 140px;
}

@media screen and (min-width: 993px) and (max-width: 1200px){
  .home-page-container{
    padding: 0 70px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {

}
@media screen and (max-width: 768px) {
  .above-header-container {
    display: none;
  }
}